/*.header{
  background-image: url(https://www.boat-lifestyle.com/cdn/shop/files/AD1412_600x.png?v=1690363019);
  opacity: 0.5;
}*/
.left{
  border-radius: 30px;
  margin:45px 20px;
  padding:1px;
}
.mid{
  color: black;
  border: 10px solid red;
  border-right: 0px;
  border-left:0ch;
  display: block;
  /* border-radius: 5px; */
  width: 45%;
  /* margin: 0px 200px; */
  position: sticky;
  top:0px;
  left:200px;
  }
.navbar{
  display: block;
}
.navbar li{
  display: inline-block;
}
.navbar li a{
  color: red;
  font-size: 24px;
  text-decoration: none;
  margin:20px 20px;
  padding:5px 5px;
}
.right{
  left: 1200px;
  top:45px;
  position:fixed;
  display: inline-block;
  

}
.login{
  border: 1px solid orange;
  border-radius: 30px;
}
.login:hover{
  color: black;
  cursor: pointer;
  background-color: aqua;
}
.navbar li option{
  display: inline;
}