body{
  /* border:2px solid red; */
  /* height: 1700px; */
  background-color:black;
  height: 100vh;
  width: 100vw;
}
.header{
  background-color:aqua;
  position: sticky;
  
}
.left{
  /* border-radius: 30px; */
  margin:45px 20px;
  padding:1px;
}
.mid{
  color: black;
  /* border: 10px solid red; */
  border-right: 0px;
  border-left:0ch;
  display: block;
  /* border-radius: 5px; */
  width: 50%;
  margin: 10px auto;
  position:  absolute;
  top:0px;
  left:200px;
  }

.navbar{
  display: block;
}
.navbar li{
  display: inline-block;
}
.navbar li a{
  color: black;
  font-size: 24px;
  text-decoration: none;
  margin:20px 20px;
  padding:5px 5px;
}
.navbar li:hover{
  box-shadow: 2px red;
  border: 2px solid black;
}
.right{
  left: 1150px;
  top:30px;
  position:absolute;
  display: inline-block;
}
.login{
  height: 25px;
  width: 70px;
  border: 1px solid orange;
  border-radius: 30px;
}
.login:hover{
  color: black;
  cursor: pointer;
  background-color:yellow;
  box-shadow:0.5px 0.5px 0.5px 0.5px red;
}
.navbar li option{
  display: inline;
  
}
.categories{
  font-size: 25px;
}
.footer{
  display: flex;
  border: 2px solid black;
  position:relative;
  color: yellow;
  background-color:blue;
  top: 10px;
  align-items: center;
  justify-content: center;
  padding: 0%;
  /* flex:0 0 100%; */
  max-width: 100%;
}
.social{
  display: block;
}
.social li{
  display: inline-block;
}
.social li a{
  padding: 10px 5px;
  transition:all; /* Animation */
  
  width: 5px;
  height: 5px;
}
.social li:hover{
  transform: scale(2);
  zoom: 3px;
}
.tsocial{
  font-family: italic;
}
.sub-conta{
  display: flex;
  height: 500px; 
  flex-direction: column; 
  background-color:lightblue;
  animation-name: sub-conta;
  animation-duration: 3s;
}
@keyframes sub-conta{
  from{height: 10px;
  width: 10px;}
  to{
    height: 500px;
  }
}
.head{
  margin: 10px 800px;
  font-size:50px;
  /* height: 178px; */
}
.sub-head{
  margin: 20px 800px;
  font-size: 30px;
  /* text-align: left; */
}
.conta-button{
  height: 25px;
  width: 100px;
  border-radius: 10px;
  color: white;
  background-color:red;
  margin: 5px 800px;
}
.conta-button:hover{
  background-color:red ;
}
.ima{
  position:absolute;
  margin: 0px 0px;
  /* align-items: stretch; */
}
.conta-photos{
  margin: 2rem 0px 0px 0px;
  /* border: 2px solid red; */
  color: white;
  display: flex;
  flex-direction: column;
}
.gallery{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  align-items: center;
  height: 200px;
  width: auto;
  background-color:black;
  border: 2px solid green;
}
.shadow{
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
}
.shadow :hover{
  
  box-shadow: 2px 2px 2px 2px aqua;
}
